* {
    margin: 4;
    padding: 4;
    box-sizing: border-box;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.input{
    display: flex;
    flex-direction: row;
    margin-bottom: 1 rem;
}
